<!doctype html>
<html lang="en">

<head>
	<title>ToMathTo - Math Online Judge</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
<!-- WRAPPER -->
<div id="wrapper">
	<!-- NAVBAR -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="brand">
			<a href="../"><img src="assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
		</div>
		<div class="container-fluid">
			<div class="navbar-btn">
				<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
			</div>
			<form class="navbar-form navbar-left">
				<div class="input-group">
					<input type="text" value="" class="form-control" placeholder="Search dashboard...">
					<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
				</div>
			</form>
			<!--div class="navbar-btn navbar-btn-right">
				<a class="btn btn-success update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
			</div-->
			<div id="navbar-menu">
				<ul class="nav navbar-nav navbar-right">
					

                    <% if (session.logined) { %>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span><%= session.user_id %> </span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="../logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                        <% } else { %>
                            <div class="bottom brand" style="margin-left: 10px;">
                                <span class="helper-text"><i class="fa fa-address-book"></i> <a href="register">Sign UP!</a></span>
                            </div>
                            <% } %> 
					<!-- <li>
						<a class="update-pro" href="https://www.themeineed.com/downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>
	<!-- END NAVBAR -->
	<!-- LEFT SIDEBAR -->
	<div id="sidebar-nav" class="sidebar">
		<div class="sidebar-scroll">
			<nav>
				<ul class="nav">
					<li><a href="../" class=""><i class="lnr lnr-home"></i> <span>Home</span></a></li>
					<li><a href="../problems" class=""><i class="lnr lnr-code"></i> <span>Problems</span></a></li>
					<li><a href="../contest" class="active"><i class="lnr lnr-chart-bars"></i> <span>contest</span></a></li>
					<!--li><a href="settings.html" class=""><i class="lnr lnr-cog"></i> <span>Settings</span></a></li-->
					
					<li>
						<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>My Page</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
						<div id="subPages" class="collapse ">
							<ul class="nav">
								<li><a href="../page-profile" class="">Profile</a></li>
                                <% if (!session.logined) { %>
                                    <li><a href="../page-login.html" class="">Login</a></li>
                                <% } %>
							</ul>
						</div>
					</li>
					<!--li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
					<li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
					<li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li-->
				</ul>
			</nav>
		</div>
	</div>
    <!-- END LEFT SIDEBAR --> 
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">

            <div class="container-fluid">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= cname %> <br>  <%= sttime %>  ~  <%= edtime %>   </h3>
                    <div class="right">
                        <!-- <button type="button" class="btn btn-primary">scoreboard</button> -->
                        <a class="btn btn-default" href="scoreboard?cname=<%=cname%>" role="button">scoreboard</a>
                        <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                        <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                    </div>
                </div>
                <div class="panel-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order No.</th>
                                <th>Name</th>
                                <th>area</th>
                                <th>rank</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="problemList">
                            <!-- <tr>
                                <td><a href="#">763648</a></td>
                                <td>Steve</td>
                                <td>$122</td>
                                <td>Oct 21, 2016</td>
                                <td><span class="label label-success">COMPLETED</span></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        </div>
    </div>
    <!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
</body>
<script>
    // <tr>
    //         <td><a href="#">763648</a></td>
    //         <td>Steve</td>
    //         <td>$122</td>
    //         <td>Oct 21, 2016</td>
    //         <td><span class="label label-success">COMPLETED</span></td>
    //     </tr>
    $.ajax({
            url: "/contest/getProblemList?cname="+ `<%=cname%>`,
            type: 'get',
            success: (data) => {
                // console.log(data);
                let list = document.querySelector("#problemList");
                let keys = Object.keys(data);
                for (let i = 0; i < keys.length; ++i) {
                    let num = keys[i];
                    let it = data[keys[i]];
                    let name = it.name;
                    let area = it.area;
                    let rank = it.rank;
                    let adding = document.createElement('tr');
                    let color = it.status===1?"success":"info";
                    let str = it.status===1?"success":"unsolved";
                    adding.innerHTML = `
                        <td><a href="/problem?probNum=${num}">${num}</a></td>
                        <td>${name}</td>
                        <td>${area}</td>
                        <td>${rank}</td>
                        <td><span class="label label-${color}">${str}</span></td>
                    `;
                    list.appendChild(adding);
                    // let adding = document.createElement("div");
                    // adding.classList.add("d-flex");
                    // let probNum = document.createElement("div");
                    // probNum.innerText = keys[i];
                    // adding.onclick = () => {
                    //     window.location.href = "/problem?probNum=" + keys[i];
                    // };
                    // adding.appendChild(probNum);
                    // let desc = document.createElement("div");
                    // desc.innerText = it.name;

                    // adding.appendChild(desc);
                    // list.appendChild(adding);
                }
            }
        });
</script>
</html>